<!-- Header -->
<header class="custom-header">

  <!-- Navegacion principal -->
  <nav class="nav-links">
    <a class="nav-item" routerLink="catalogo">Catálogo</a>
    <a class="nav-item" routerLink="restaurantes">Restaurantes</a>
    <a class="nav-item" routerLink="promociones">Promociones</a>
  </nav>

  <!-- Logo -->
  <div class="logo-container">
    <img src="assets/logo.png" alt="Logo de BurgerKing" class="logo-img">
  </div>

  <!-- Acciones del usuario -->
  <div class="user-actions">
    <a routerLink="/carrito">
      <img src="assets/carrito.png" alt="Logo de Carrito" class="cart-img">
    </a>
    <button class="btn-register" routerLink="auth/register">Registrarse</button>
    <button class="btn-login" routerLink="auth/login">Iniciar sesión</button>
  </div>
</header>