<!-- Seccion de redes sociales -->
<section class="social-section">
  <h5>Siguenos en nuestras redes sociales</h5>
  <div class="social-icons">
    <a href="https://www.facebook.com/BurgerKing" target="_blank" rel="noopener">
      <img src="assets/facebook.png" alt="Facebook" class="social-img">
    </a>
    <a href="https://www.instagram.com/burgerking" target="_blank" rel="noopener">
      <img src="assets/instagram.png" alt="Instagram" class="social-img">
    </a>
    <a href="https://x.com/BurgerKing" target="_blank" rel="noopener">
      <img src="assets/twitter.png" alt="Twitter" class="social-img">
    </a>
  </div>
</section>

<!-- Footer -->
<footer class="footer-custom">
  <p>© 2025 Proyecto Burger King. Todos los derechos reservados.</p>
</footer>


